table {
  table-layout: fixed;
  width: 100%;
}

th:nth-child(1),
td:nth-child(1) { width: 110px; }

th:nth-child(2),
td:nth-child(2) { width: 110px; }

th:nth-child(3),
td:nth-child(3) { width: 120px; }

th:nth-child(4),
td:nth-child(4) { width: 200px; }

th:nth-child(5),
td:nth-child(5) { width: 200px; }

th:nth-child(6),
td:nth-child(6) { width: 120px; }

th:nth-child(7),
td:nth-child(7) { width: 110px; }

th:nth-child(8),
td:nth-child(8) { width: 120px; }

td input {
  width: 100%;
  box-sizing: border-box;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
